* {
    margin: 0;
    padding: 0;
}

main {
    margin: 10%;
    margin-left: 20%;
    border: solid 1px black;
    padding: 3%;
    background-image: url(cover.png);
    background-image: linear-gradient(to bottom, #ffffff, rgba(204, 213, 230, 255));
    width: 40%;
}

h1 {
    margin-bottom: 2%;
}

p {
    font-size: 2vw;
    margin-bottom: 4%;
}

form {}

label {
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: inline-block;
    min-width: 100px;
    text-align: end;
}

input {
    margin-bottom: 2%;
    padding: 1% 1% 1% 0.5%;
    display: inline-block;
    min-width: 230px;
    border-color: #d8d1d1;
}

select {
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: inline-block;
    border-color: #b9b5b5;
}

button {
    margin-left: 18.4%;
    padding: 1%;
    background-color: #008000;
    color: #ffffff;
    font-weight: bold;
}